<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios web para configurar los valores de la aplicación. Utilice
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
 
  </configSections>
  <appSettings>
    <!--<add key="Conex" value="Data Source=INF-MDESARROLLO\MARIO;Initial Catalog=FULL_INTERMEDIO;User ID=own_fullcoop;Password=fullcoopsa"/>-->
	  <add key="Conex" value="Data Source=INF-172.16.10.3;Initial Catalog=FULL_INTERMEDIO;User ID=own_fullcoop;Password=fullcoopsa"/>
    <!--<add key="Conex" value="Data Source=10.6.183.36;Initial Catalog=FULL_INTERMEDIO;User ID=own_fullcoop;Password=fullcoopsa"/>-->
    <!--<add key="Conex" value="Data Source=10.6.183.36;Initial Catalog=FULL_INTERMEDIO;User ID=sa;Password=1128"/>-->
    <!--<add key="Conex" value="Data Source=10.6.37.119;Initial Catalog=FULL_INTERMEDIO;Integrated Security=True"/>-->
   <!--<add key="Conex" value="Data Source=localhost;Initial Catalog=FULL_INTERMEDIO;User ID=sa;Password=1128" />-->
  </appSettings>
  <connectionStrings />
  <system.web>
	  <sessionState mode="InProc" timeout="2" cookieless="false" />
	
    <!-- <customErrors mode="Off"/>-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>-->
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        </assemblies>
    </compilation>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows" />
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--<identity impersonate="true" userName="ssmso\Informatica" password="40,info:34" />-->
    <httpModules>
     </httpModules>
  </system.web>
  <!-- Web.Config Configuration File -->
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      
    </modules>
  </system.webServer>

</configuration>